langchain-chroma
langchain-core
langchain-community
langchain-text-splitters
langchain
langchain-classic
langchain-huggingface
faiss-cpu
chromadb
pdfplumber
python-dotenv
pypdf
sentence_transformers
langgraph
ipywidgets
tavily-python
streamlit